
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


body {
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    padding-top: 72px;
}

/* >>----------> [ nav ] <-----------<< */
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    font-size: 25px;
    color: #ffffff;
    font-weight: 900;
}

.navbar-default {
    border: 0;
    background: #000000;  
    border-radius: 0;
}

.navbar-default .navbar-text {
    color: #fff;
}

.navbar-default .navbar-text a {
    color: #fff;
    font-weight: bold;
    margin-right: 30px;
}

.navbar-default .navbar-text a:hover {
    color: #fff;
}
ul.navbar.navbar-right {
    margin-bottom: 0;
    line-height: 48px;
    margin-right: 50px;
}

ul.navbar.navbar-right li a {
    color: #fff;
    font-weight: bold;
    padding: 0 18px;
}

ul.navbar.navbar-right li {
    display: inline-block;
}
/* >>----------> [ featured ] <-----------<< */
.featuredAlbums__single {
    display: block;
    margin: 0 -10px 15px;
    color: #000;
}
.featuredAlbums > div:nth-child(5n+2){
    clear: left;
}
.featuredAlbums__single:hover{
    text-decoration: none;
    color: #444;
}
.featuredAlbums__cover {
    width: 100%;
}

.featuredAlbums__single__name {
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
}
.featuredAlbums__single__data {
    padding: 10px;
}

.featuredAlbums__single__artist {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-top: 5px;
}

.featuredAlbums__single:hover .featuredAlbums__cover {
}
.featuredAlbums__single__type {
    color: #FFC107;
    font-weight: bold;
}
.featuredAlbums .trackRating {
    height: 29px;
    padding: 0;
    width: auto;
    margin: 0 -10px;
}

/* >>----------> [ stars ] <-----------<< */

.trackRating {
    color: #000;
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
    transition: .3s all;
}
.trackRating span {
    padding: 0 1px;
}



/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: none;
  width: 250px;
  -webkit-transition: .3s all;
  transition: .3s all;
  margin: auto;
  text-align: center;
  /* text-shadow: 0 0 20px #00000099; */
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 0px 2px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\F005";
  content: "\F006";
  font-weight: normal;
}

.rating > label {
  color: #000;
  float: right;
  width: 25px;
    opacity: .4;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, .rating > input.avgRating ~ label, .rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
    color: #FFC107;
    opacity: 1;
}

/* hover previous stars in list */

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

.featuredAlbums__single:hover .rating {
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.rating > input:checked ~ label::before, .rating:not(:checked) > label:hover::before, .rating:not(:checked) > label:hover ~ label::before {
    content: "\F005";
}

/* >>----------> [ section title ] <-----------<< */
h1.section-title {
    color: #000;
    font-size: 30px;
    padding: 0 3px;
    margin: 50px 0 20px;
    text-align: center;
}



/* >>----------> [ search box ] <-----------<< */

.searchBox {
  overflow: hidden;
  padding: 10px 0 20px;
  text-align: center;
  background: red;
  margin-top: -22px;
  background: -webkit-gradient(linear, left top, right top, from(#43c6ac), to(#f8ffae));
  background: linear-gradient(to right, #43c6ac, #000000);
  background: #222;
}

.searchBox input {
  width: 900px;
  border: 1px solid rgb(34, 34, 34);
  padding: 20px;
  font-size: 20px;
  background: #000000;
  color: #fff;
}
.searchBox input:focus {
    outline: 0;
}
.searchBox input::-webkit-input-placeholder {
  color: #fff;
}

.searchBox input:-ms-input-placeholder {
  color: #fff;
}

.searchBox input::-ms-input-placeholder {
  color: #fff;
}

.searchBox input::placeholder {
  color: #fff;
}

.searchBox .search {
  content: "\F002";
  /* font-family: 'Font Awesome'; */
  font-family: FontAwesome;
  font-size: 40px;
  position: relative;
  top: 7px;
  width: 90px;
  margin-left: -90px;
  padding: 18px 25px;
  color: #ffffff;
  cursor: pointer;
}

span.searchSuggest__label {
  text-align: left;
  display: block;
  padding: 5px 10px 5px;
  /* border-bottom: 1px solid #252525; */
  color: #ffffff;
  font-weight: bold;
  clear: both;
  /* margin-bottom: 10px; */
}

ul.searchSuggest {
    position: absolute;
    left: 50%;
    margin-left: -450px;
    width: 900px;
    margin-top: -1px;
    border: 1px solid #222222;
    background: #000000;
    background: rgba(0, 0, 0, 0.88);
    color: #fff;
    overflow: hidden;
    padding: 0 10px;
    z-index: 1;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.14);
}

ul.searchSuggest li {
  display: block;
  padding: 0px 10px;
  line-height: 36px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

ul.searchSuggest .li-wrapper--artists li,ul.searchSuggest .li-wrapper--albums li {
  width: 20%;
  display: block;
  float: left;
  clear: none;
  line-height: 17px;
  font-size: 14px;
  text-align: center;
  color: #b5b5b5;
}

img.searchSuggest__albumCover {
  width: 100%;
  display: block;
  margin: 0 auto 8px;
}

ul.searchSuggest small {
  font-size: 18px;
  font-weight: normal;
  color: #a4a4a4;
}

.li-wrapper {
  overflow: hidden;
  padding-bottom: 15px;
}
.searchSuggest__albumCoverWrapper {
    width: 100%;
    height: 156px;
    overflow: hidden;
    background: #222222;
    background-image: url(https://edb-cdn-prod-tqgiyve.stackpathdns.com/teams/icons/58a768a8-ca95-11e7-b8c3-0ec39221f676.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 8px;
}

/* >>----------> [ album view ] <-----------<< */
.album__cover {
    margin: 0 -10px 0 -15px;
    position: relative;
}

img.album__cover__img {
    width: 100%;
}

.album {
    padding: 35px 0;
}

h1.album__name {
    font-size: 70px;
    font-weight: 900;
    color: #000;
    margin: 0 0 30px;
    transition: .5s color;
}


.album thead td {
    /* font-weight: bold; */
    color: #b5b5b5;
}

.album table tbody td {
    font-weight: bold;
    color: #000;
    /* line-height: 49px; */
    font-size: 14px;
    padding: 13px 11px;
    border: 0;
}

.album__rating {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding-bottom: 150px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(255, 0, 0, 0));
}
.album .trackRating--score {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    color: #000;
}

.album .trackRating--score strong {
    font-size: 40px;
    display: block;
    font-weight: 900;
}

.album table .trackRating {
    position: static;
    padding: 0;
    color: #000;
}

.album table .rating > label {
    color: #000;
    margin-bottom: 0;
    /* height: 20px; */
    line-height: 15px;
    padding-top: 5px;
}
.album thead td:last-child {
    text-align: right;
}
.album__rating .single {
    display: block;
    width: 120px;
    text-align: center;
    padding: 2px 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    margin: 10px;
    background-color: #000;
    transition: .3s all;
    /* box-shadow: 0 0 10px #0000007a; */
}
.album table tbody td:last-child {
    text-align: right;
}

/* >>----------> [ widok artysty ] <-----------<< */
.artist__cover {
    margin: 0 -10px 0 -15px;
    position: relative;
}

img.artist__cover__img {
    width: 100%;
}

.artist {
    padding: 35px 0;
}

h1.artist__name {
    font-size: 70px;
    font-weight: 900;
    color: #000;
    margin: 0 0 30px;
    transition: .5s color;
}

.artist__genres {
    margin: -20px 0 0;
    padding: 0 4px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.53);
    font-weight: 100;
}

.artist__albums {
    overflow: hidden;
}

.artist__albums__title {
    /* text-align: center; */
    font-size: 20px;
    color: #000;
    font-weight: 900;
    padding: 0 5px;
}

.artist__albums__album {
    padding: 0 5px;
    margin-bottom: 20px;
}

.artist__albums__album img {
    width: 100%;
}

.artist__albums__album__album-name {
    text-align: center;
    display: block;
    font-weight: 500;
    color: #000;
    padding: 5px 5px 10px;
}

.artist__albums__album:nth-child(3n+2) {
    clear: left;
}

/* >>----------> [ warning ] <-----------<< */
.warning {
    position: fixed;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    z-index: 1;
    bottom: 20px;
    right: 20px;
}
/* >>----------> [ 5-kolumnowy layout w bs ] <-----------<< */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/* >>----------> [ poszerzenie kontenera bootstrapa ] <-----------<< */
@media (min-width: 1200px) {
    .container{
        width: 1550px;
    }
}